<mat-toolbar style="background-color: #2dc2fd;" class="menu-bar">

    <div class="logo-container">
      <img class="logo" src="assets/logos/roomygologo.png" alt="RoomyGo Logo">
    </div>
    <span class="example-spacer"></span>
    <div class="buttons-container">
      <div class="menu-icon-container">
        <button mat-icon-button style="color:white;transform: scale(1.3);" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
          <mat-menu #menu="matMenu">
            <a routerLink="/login" *ngIf="!authenticated; else userLink">
              <div mat-menu-item class="icon-button-container">
                <mat-icon style="color:#2296c4">account_circle</mat-icon>
                <button class="button">Login</button>
              </div>
            </a>
             <ng-template #userLink>
               <a [routerLink]="'/user/' + username ">
                <div mat-menu-item class="icon-button-container">
                  <mat-icon style="color:#2296c4">account_circle</mat-icon>
                  <button class="button">Login</button>
                </div>
              </a>
             </ng-template>
             <a routerLink="/login" *ngIf="!authenticated; else cartLink">
              <div mat-menu-item class="icon-button-container">
                <mat-icon style="color:#2296c4">shopping_cart</mat-icon>
                <button class="button">Carrello</button>
              </div>
            </a>
             <ng-template #cartLink>
               <a [routerLink]="'/user/' + username + '/cart'">
                <div mat-menu-item class="icon-button-container">
                  <mat-icon style="color:#2296c4">shopping_cart</mat-icon>
                  <button class="button">Carrello</button>
                </div>
              </a>
             </ng-template>
             <a routerLink="/login" *ngIf="!authenticated; else roomLink">
              <div mat-menu-item class="icon-button-container">
                <mat-icon style="color:#2296c4">library_add</mat-icon>
                <button class="button">Aggiungi stanza</button>
              </div>
            </a>
             <ng-template #roomLink>
               <a [routerLink]="'/user/' + username + '/addRoom'">
                <div mat-menu-item class="icon-button-container">
                  <mat-icon style="color:#2296c4">library_add</mat-icon>
                  <button class="button">Aggiungi stanza</button>
                </div>
              </a>
             </ng-template>
           
            
            
          </mat-menu>
        </button>
      </div>
    </div>

  </mat-toolbar>