<body>
    <app-navbar></app-navbar>
    <br>
    <br>

    <div class="fotogrid">
    <mat-grid-list cols="4" rowHeight="300px" gutterSize="10">
      <mat-grid-tile *ngFor="let photo of photos; let first = first" [colspan]="first ? 2 : 1" [rowspan]="first ? 2 : 1" style="border-radius: inherit;" >
        <!-- Inserisci l'immagine qui utilizzando l'URL da 'photo' -->
        <img [src]="photo" alt="Immagine" class="object-fit-cover">
      </mat-grid-tile>
    </mat-grid-list>
    </div>
    <br>
    <mat-grid-list *ngIf="usernameAuth===room.gestore" cols="9" rowHeight="100px" gutterSize="10">
      <mat-grid-tile colspan="3" rowspan="1" [style.background]="'transparent'"></mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" [style.background]="'transparent'">
        <button mat-raised-button color="primary" (click)="edit()">EDIT</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" [style.background]="'transparent'">
      
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" [style.background]="'transparent'">
        <button mat-raised-button color="primary" (click)="prenotazioni()">PRENOTAZIONI</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="1" [style.background]="'transparent'"></mat-grid-tile>
    </mat-grid-list>
    <br>

    <mat-grid-list cols="2" rowHeight="300px" class=" griglia">
        <ng-container *ngFor="let tile of tiles">
          <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="'lightblue'">
            <ng-container [ngSwitch]="tile.component" class=>

              <ng-container *ngSwitchCase="'Informazioni'">
                
                <div class="internalMatGrid boxdatepicker">
                  <mat-card class="infocard">
                    <mat-card-header>
                      <mat-card-title><h4>{{ room.nome }}</h4></mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>{{room.descrizione}}</p>
                      <br>
                      <p>{{room.indirizzo}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>
              


              </ng-container>

              <ng-container *ngSwitchCase="'Datepicker'">
                <div class="internalMatGrid boxdatepicker">
                  <mat-grid-list cols="2" rowHeight="70px" style="max-height: 100%;max-width: 100%;">
                    <ng-container *ngFor="let tile of datepickergrid" >
                      <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
                        <ng-container [ngSwitch]="tile.component" class=>
                          <ng-container *ngSwitchCase="'Prezzo'">
                            <p>Prezzo per giorno: € {{room.prezzo}}</p>
                          </ng-container>
                          <ng-container *ngSwitchCase="'Picker'">
                            <mat-form-field class="picker">
                              <mat-label>Checkin e Checkout</mat-label>
                              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="calcolaDifferenzaInGiorni()">
                                <input matEndDate formControlName="end" placeholder="End date" (dateChange)="calcolaDifferenzaInGiorni()">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-date-range-picker #picker></mat-date-range-picker>
                              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                            </mat-form-field>
                          </ng-container>
                          <ng-container *ngSwitchCase="'Button'">
                            <button mat-raised-button color="accent" class="button" (click)='prenota()'>Aggiungi al carrello!</button>
                          </ng-container>
                          <ng-container *ngSwitchCase="'PrezzoTot'">
                            <p>Prezzo Tot: €  {{ numeroGiorni*room.prezzo }}</p>
                          </ng-container>
                        </ng-container>
                      </mat-grid-tile>
                    </ng-container>
                  </mat-grid-list>
                </div>
              </ng-container>


              <ng-container *ngSwitchCase="'Servizi'">
                <div class='internalMatGrid boxdatepicker' >
                <mat-grid-list cols="3" rowHeight="100px">
                    <ng-container *ngFor="let tile of servizigrid">
                        <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
                            <ng-container [ngSwitch]="tile.component">
                                <ng-container *ngSwitchCase="'Titolo'">
                                    <div class="titolo">SERVIZI DISPONIBILI</div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Wifi'">
                                    <mat-icon [svgIcon]="icons[0]" aria-hidden="false" [attr.aria-label]="getAriaLabel(icons[0]) " class="icon-size-large"></mat-icon>
                                </ng-container>
                                <ng-container *ngSwitchCase="'Car'">
                                    <mat-icon [svgIcon]="icons[1]" aria-hidden="false" [attr.aria-label]="getAriaLabel(icons[1])" class="icon-size-large"></mat-icon>
                                </ng-container>
                                <ng-container *ngSwitchCase="'AC'">
                                    <mat-icon [svgIcon]="icons[2]" aria-hidden="false" [attr.aria-label]="getAriaLabel(icons[2])" class="icon-size-large"></mat-icon>
                                </ng-container>
                            </ng-container>
                      
                        </mat-grid-tile>
                    </ng-container>
                    <ng-container *ngFor="let icon of icons">
                      <mat-grid-tile colspan="1" rowspan="1" [style.background]="'transparent'">
                        <p>{{getAriaLabel(icon)}}</p>
                      </mat-grid-tile>
                    </ng-container>
                    
                  
                </mat-grid-list>
                </div>
              </ng-container>
  
            </ng-container>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
      <br>
      <br>
      <br>
      <ng-container *ngIf="room.gestore">
        <app-user-page [username]="room.gestore"></app-user-page>
      </ng-container>
      <div class="alert-overlay" *ngIf="showAlert">
        <div class="alert-box" [ngClass]="{'success': successAlert&&!warningAlert, 'error': !successAlert&&!warningAlert, 'warning': !successAlert&&warningAlert}">
          {{ alertMessage }}
        </div>
      </div>
      

</body>