
body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.fotogrid{
    background-color: white;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
}

.griglia{
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
}


.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    cursor: pointer
  }

  .mat-grid-tile:hover .object-fit-cover {
    opacity: 0.8; /* Cambia l'opacità al passaggio del mouse */
  }

.internalMatGrid{
    height: 100%;
    width: 100%;
}

.picker{
    background-color: white;
}

.boxdatepicker{

    width: 90%;
    height: 90%;
    border-radius: 25px;
    background-color: rgb(236, 236, 236);
}

.infocard{
    height: 100%;
    width: 100%;
}

.icon-size-large{
    transform: scale(2.5);
}

/* ALERTS */
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    animation: fade-in 0.5s;
  }
  
  .alert-box {
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    transition: opacity 0.5s;
  }
  
  .success {
    background-color: rgba(110, 191, 99,1);
  }
  
  .error {
    background-color: rgba(181, 69, 69,1);
  }
  
  .warning {
    background-color: rgba(217, 190, 117,1);
  }
